<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\MovieStoreMv.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		</system.webServer>
	</location>
	<system.webServer>
		<security>
			<requestFiltering>
				<!-- This will handle requests up to 1024MB (1GB) -->
				<requestLimits maxAllowedContentLength="2097152000" />
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>